<h1>Bienvenido a la plataforma educativa VirtualClass</h1>
<p>Aqui encuertre sus talleres de aprendizaje y nivelacion.</p>

<% if user_signed_in? %>
<h2>Welcome <%= current_user.email %></h2>
<% else %>
<h1>Welcome</h1>
<% end %>